*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    margin-bottom: 150px;
    background-position: center;
    
}
header{
    background-color: orangered;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.menu{
    width: 24px;
    height: 24px;
    margin-left: auto;
}
.fun{
    width: 24px;
    height: 24px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
img{
    width:100px;
    height:100px;
}

pre,p{
    color:white;
    font-weight: bold;
    font-size: larger;
    
}
.slide{
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right:0;
    width: 100vh;
    justify-content: flex-start;
    position: fixed;
    background-color: cyan;
    height: 100vh;
    width: 260px;
    z-index: 9999;
    display:none;
    height: 100%;
}

a,ul{
    list-style: none;
    text-decoration: none;
    color: black;
    
}
li,a{
    margin-top: 25px;
}
h5{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-div{
    background-color: black;
    display: inline-block;
    padding-right: 50px;
    border-radius: 10px;
    border-style: hidden;
}
.first-div:hover{
    border-style:hidden;
    
}
.second-div{
    background-color: black;
    display: inline-block;
    padding-right: 50px; 
    border-radius: 10px;
    border-style: solid;
}

.third-div{
    background-color: black;
    display: inline-block;
    padding-right: 50px;
    border-radius: 10px;
    border-style: solid;
}
.fouth-div{
    background-color: black;
    display: inline-block;
    padding-right: 50px;
    border-radius: 10px;
    border-style: solid;
}
.fifth-div{
    background-color: black;
    display: inline-block;
    padding-right: 50px;
    border-radius: 10px;
    border-style: solid;
}

span{
    color: magenta;
    font-size: large;
    font-weight: bold;
}
.media{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    row-gap: 10px;
    place-content:center;
    place-items: center;
    margin: 10px;
}
.median{
    row-gap: 10px;
    width: 50px;
    height: 25px; ;
    background-color: whitesmoke;
    border-radius: 25px;
}

h3{
    color: red;
}
.cate{
    display: flex;
    background-color: darkgray;
    color: blue;
}

.cate,li{
    margin-right: auto;
    
}
button{
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 5px; 
    
    outline:none;

}
button:hover{
    box-shadow: 0 0 20px dodgerblue, 0 0 40px dodgerblue, 0 0 60px dodgerblue, 0 0 80px dodgerblue;
}
button:active{
    background-color: red;
}
.afri{
    color:yellow;
    font-weight:1000px;
    font-size: xx-large;
}
footer{
    background-color: blue;
    position: fixed;
    padding: 0px;
    right: 0;
    left: 0;
    bottom: 0;
}
ul,footer{
    display: flex;
    height: 2px;
}
ul,li{
    margin: 20px;
}
textarea{
    padding: 10px;
    width: 400px;
}